<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Uber</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon class="custom-icon" slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="settings-content">
<br><br>
    <h2>Opciones de Accesibilidad</h2>
    <br>
    <ion-item lines="full">
      <ion-label>Modo de Alto Contraste</ion-label>
      <ion-toggle slot="end" [(ngModel)]="isHighContrast" (ionChange)="toggleHighContrast($event)"></ion-toggle>
    </ion-item>
    
    


</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/conductor']" style="margin-top: -5px;">
            <ion-icon name="home-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/ajustes']" style="margin-top: -5px;">
            <ion-icon name="settings-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>