ion-card {
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 12px;
/* Asegúrate de que no haya un límite de altura */
height: auto; 
}

ion-card-content {
display: flex;
justify-content: space-between; /* Espacio entre el texto y la imagen */
align-items: center; /* Centra verticalmente el contenido */
}

ion-card img {
width: 50px; /* Tamaño ajustado para la imagen */
height: auto;
object-fit: contain;
margin-left: 10px; /* Añade un margen entre el texto y la imagen */
}

ion-card p {
margin-top: 10px;
font-size: 16px;
color: #333;
/* Elimina estas propiedades para que el texto se ajuste */
white-space: normal;
overflow: visible;
text-overflow: initial;
}

ion-card h3 {
margin: 0;
font-size: 1.2em;
text-align: left; /* Alineación de los títulos */
}

ion-badge {
margin-right: 5px;
}

.card-text {
max-width: 70%; /* El texto ocupará un 70% del espacio total */
text-align: left; /* Alinea el texto a la izquierda */
}

.new-badge {
position: absolute;
top: 10px;
right: 10px;
font-size: 12px;
}

ion-button {
margin-top: 20px;
}

.selected-card {
border: 2px solid #3880ff; /* Borde azul para resaltar la tarjeta seleccionada */
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
background-color: #f0f8ff; /* Cambia el fondo ligeramente */
transition: all 0.3s ease-in-out; /* Añade una transición suave al seleccionar */
}

ion-icon{
    color: white;
}