ion-card {
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 12px;
height: auto; 
}

ion-card-content {
display: flex;
justify-content: space-between;
align-items: center; 
}

ion-card img {
width: 50px; 
height: auto;
object-fit: contain;
margin-left: 10px;
}

ion-card p {
margin-top: 10px;
font-size: 16px;
color: #333;
white-space: normal;
overflow: visible;
text-overflow: initial;
}

ion-card h3 {
margin: 0;
font-size: 1.2em;
text-align: left;
}

ion-badge {
margin-right: 5px;
}

.card-text {
max-width: 70%;
text-align: left;
}

.new-badge {
position: absolute;
top: 10px;
right: 10px;
font-size: 12px;
}

ion-button {
margin-top: 20px;
}

.selected-card {
border: 2px solid #3880ff;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
background-color: #f0f8ff; 
transition: all 0.3s ease-in-out;
}

ion-icon{
    color: white;
}