<ion-header>
</ion-header>

<ion-content>
  <h1 class="ion-text-center">Administrador</h1>

  <ion-list *ngIf="usuarios.length > 0">
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
        <p>Email: {{ usuario.correoRegistro }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="eliminarUsuario(usuario)" color="danger">Eliminar</ion-button>
        <ion-button (click)="irAActualizarUsuario(usuario)">Actualizar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <div *ngIf="usuarios.length === 0" class="ion-text-center">
    <p>No hay registros. Por favor, rellene un registro.</p>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="irAlMenuPrincipal()">Regresar al Menú Principal</ion-button>
</ion-footer>