<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
        <p>Email: {{ usuario.correoRegistro }}</p>
        <p>Username: {{ usuario.usernameRegistro }}</p>
      </ion-label>
      <ion-button (click)="eliminarUsuario(usuario.usernameRegistro)" color="danger">Eliminar</ion-button>
      <ion-button (click)="irAActualizarUsuario(usuario.usernameRegistro)">Actualizar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
