#map {
height: 100%;
position: relative;
}

.boton-ubicacion {
position: absolute;
bottom: 15px;
left: 90%;
transform: translateX(-50%);
z-index: 9999;
}

ion-button {
--border-radius: 50%;
width: 60px;
height: 60px;

}

ion-footer ion-icon {
    color: white;
}