<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Uber</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon class="custom-icon" slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height: 100vh; width: 100%;"></div>
  <div id="container">
    <ion-button (click)="obtenerMiUbicacion()">Obtener Ubicación</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <!-- Botón Home -->
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/conductor']" style="margin-top: -5px;">
            <ion-icon name="home-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Botón Map -->
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/mapa']" style="margin-top: -5px;">
            <ion-icon name="map-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Botón Settings -->
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/ajustes']" style="margin-top: -5px;">
            <ion-icon name="settings-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
