<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>ReservaDuoc</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reserva</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let viaje of viajes" (click)="seleccionarViaje(viaje)" [disabled]="viaje.pasajerosDisponibles === 0">
      <ion-label>
        <h2 class="viaje-title">Conductor: {{ viaje.conductor.nombre }} {{ viaje.conductor.apellido }}</h2>
        <p class="viaje-detail">Origen: {{ viaje.origen }}</p>
        <p class="viaje-detail">Destino: {{ viaje.destino }}</p>
        <p class="viaje-detail">Pasajeros disponibles: <strong>{{ viaje.pasajerosDisponibles }}</strong></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="viajeSeleccionado" class="detalle-viaje-card">
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Conductor:</strong> {{ viajeSeleccionado.conductor.nombre }}</p>
      <p><strong>Origen:</strong> {{ viajeSeleccionado.origen }}</p>
      <p><strong>Destino:</strong> {{ viajeSeleccionado.destino }}</p>

      <ion-item lines="none" class="passenger-item">
        <ion-label class="passenger-label">Cantidad de Pasajeros</ion-label>
        <div class="counter-container">
          <ion-button (click)="decrementarPasajeros()" fill="outline" color="danger" class="counter-button">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <div class="passenger-count">{{ cantidadPasajeros }}</div>
          <ion-button (click)="incrementarPasajeros()" fill="outline" color="success" class="counter-button">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>

      <p class="total"><strong>Total:</strong> CLP {{ calcularTotal() }}</p>

      <ion-item class="input-item parada-item">
        <ion-label position="stacked">¿Desea marcar una parada?</ion-label>
      </ion-item>

      <!-- Contenedor para el mapa -->
      <div id="map" style="height: 300px; margin: 10px 0;"></div>

      <ion-button expand="block" color="primary" (click)="confirmarViaje()" class="confirmar-viaje-button">
        Confirmar Viaje
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
