<ion-header [translucent]="true" class="ion-no-border">
</ion-header>

<ion-content class="ion-register">
  <h1 class="ion-title-register">¡Bienvenido!</h1>
  <br>
  <h4 class="ion-info">Información:</h4>

  <ion-list>
    <!-- Nombre -->
    <ion-item>
      <ion-input 
        class="nombre-input"
        label="Nombre" 
        labelPlacement="floating"
        [(ngModel)]="nombre">
      </ion-input>
    </ion-item>

    <!-- Apellido -->
    <ion-item>
      <ion-input 
        class="apellido-input"
        label="Apellido" 
        labelPlacement="floating"
        [(ngModel)]="apellido">
      </ion-input>
    </ion-item> 
    
    <!-- RUT -->
    <ion-item>
      <ion-input 
        class="rut-input"
        label="RUT" 
        labelPlacement="floating"
        [(ngModel)]="rut">
      </ion-input>
    </ion-item>

    <!-- Fecha de Nacimiento -->
    <ion-item>
      <ion-input
        class="fecha-nacimiento-input"
        label="Fecha de Nacimiento" 
        labelPlacement="floating"
        readonly="true"
        (click)="openCalendar()"
        [value]="fechaNacimiento | date: 'dd/MM/yyyy'"
        [class.fecha-seleccionada]="fechaNacimiento"
      ></ion-input>
      <ion-icon name="calendar" slot="end" (click)="openCalendar()"></ion-icon>
    </ion-item>

    <ion-datetime 
      [(ngModel)]="fechaTemporal"
      display-format="DD/MM/YYYY"
      cancelText="Cancelar"
      doneText="Listo"
      *ngIf="mostrarCalendario"
      (ionCancel)="cancelCalendar()"
    ></ion-datetime>

    <ion-button expand="block" (click)="applyDate()" *ngIf="mostrarCalendario" class="apply-button">
      Aplicar
    </ion-button>

    <!-- teléfono -->
    <ion-item>
      <ion-input 
        class="telefono-input"
        label="Teléfono" 
        labelPlacement="floating"
        [(ngModel)]="telefono">
      </ion-input>
    </ion-item>
    
    <!-- Correo Electrónico -->
    <ion-item>
      <ion-input    
        class="correoRegistro"
        label="Correo Electrónico"
        labelPlacement="floating"
        [(ngModel)]="correoRegistro"
        (ngModelChange)="validateEmail()"
        #emailInput="ngModel">
      </ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="emailInvalid" class="emailError">
      El correo electrónico no es válido
    </ion-text>

    <!-- Contraseña -->
    <ion-item>
      <ion-input 
        label="Contraseña" 
        labelPlacement="floating" 
        [type]="passwordVisible ? 'text' : 'password'" 
        [(ngModel)]="passwordRegistro">
      </ion-input>
      <ion-icon 
        [name]="passwordVisible ? 'eye-off' : 'eye'" 
        slot="end" 
        (click)="togglePasswordVisibility()">
      </ion-icon>
    </ion-item>

    <!-- Confirmar Contraseña -->
    <ion-item>
      <ion-input 
        label="Confirmar Contraseña" 
        labelPlacement="floating" 
        [type]="confirmPasswordVisible ? 'text' : 'password'" 
        [(ngModel)]="confirmPassword" 
        (ngModelChange)="validatePasswords()">
      </ion-input>
      <ion-icon 
        [name]="confirmPasswordVisible ? 'eye-off' : 'eye'" 
        slot="end" 
        (click)="toggleConfirmPasswordVisibility()">
      </ion-icon>
    </ion-item>

    <ion-text color="danger" *ngIf="passwordMismatch" class="passwordError">
      Las contraseñas no coinciden
    </ion-text>

    <!-- Botón Crear Cuenta -->
    <ion-button 
      expand="block" 
      [disabled]="!isFormValid()" 
      (click)="crearCuenta()"
      class="crearCuenta">
      Crear cuenta
    </ion-button>
  </ion-list>
</ion-content>
