.ion-title-register {
    font-size: 2.5rem;
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

.ion-info {
margin-left: 20px;
}

.fecha-nacimiento-input {
font-size: 1rem; /* Tamaño de fuente más pequeño */
}
.apply-button {
margin-top: 10px; /* Añade un margen superior para separar el botón del calendario */
}

ion-input[readonly] {
cursor: pointer;
}

ion-icon {
font-size: 24px;
color: #666;
cursor: pointer;
}

.emailError {
    text-align: left;  /* Alinea el texto hacia la derecha */
    margin-left: 15px; /* Añade un margen derecho */
    display: block;     /* Asegura que el texto ocupe toda la línea */
}  

.crearCuenta {
    margin-top: 90px; /* Ajusta este valor según lo que necesites */
    margin-left: 10px;
    margin-right: 10px;
}

.passwordError{
    text-align: left;  /* Alinea el texto hacia la derecha */
    margin-left: 15px; /* Añade un margen derecho */
    display: block;     /* Asegura que el texto ocupe toda la línea */
}

ion-alert .head{
    text-align: center;
}