<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="header-container">
      <button class="back-button" (click)="goBack()">
        <!-- Icono de flecha (SVG) -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
      <ion-title class="header-title ion-text-center">Registrarse</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-register">
  <h1 class="ion-title-register">¡Bienvenido!</h1>
  <br>
  <h4 class="ion-info">Información:</h4>

  <ion-list>
    <!-- Nombre de Usuario -->
    <ion-item>
      <ion-input 
        class="nombre-input"
        label="Nombre de Usuario" 
        labelPlacement="floating"
        [(ngModel)]="username">
      </ion-input>
    </ion-item>
    
    <!-- RUT -->
    <ion-item>
      <ion-input 
        class="rut-input"
        label="RUT" 
        labelPlacement="floating"
        [(ngModel)]="rut"
        (ngModelChange)="formatRUT($event)">
      </ion-input>
    </ion-item>

    <!-- Fecha de Nacimiento -->
    <ion-item>
      <ion-input
        class="fecha-nacimiento-input"
        label="Fecha de Nacimiento" 
        labelPlacement="floating"
        readonly="true"
        (click)="openCalendar()"
        [value]="fechaNacimiento | date: 'dd/MM/yyyy'"
        [class.fecha-seleccionada]="fechaNacimiento"
      ></ion-input>
      <ion-icon name="calendar" slot="end" (click)="openCalendar()"></ion-icon>
    </ion-item>

    <ion-datetime 
      [(ngModel)]="fechaTemporal"
      display-format="DD/MM/YYYY"
      cancelText="Cancelar"
      doneText="Listo"
      *ngIf="mostrarCalendario"
      (ionCancel)="cancelCalendar()"
    ></ion-datetime>

    <ion-button expand="block" (click)="applyDate()" *ngIf="mostrarCalendario" class="apply-button">
      Aplicar
    </ion-button>
    
    <!-- Correo Electrónico -->
    <ion-item>
      <ion-input    
        class="correoRegistro"
        label="Correo Electrónico"
        labelPlacement="floating"
        [(ngModel)]="correoRegistro"
        (ngModelChange)="validateEmail()"
        #emailInput="ngModel">
      </ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="emailInvalid" class="emailError">
      El correo electrónico no es válido
    </ion-text>

    <!-- Contraseña -->
    <ion-item>
      <ion-input 
        label="Contraseña" 
        labelPlacement="floating" 
        [type]="passwordVisible ? 'text' : 'password'" 
        [(ngModel)]="passwordRegistro">
      </ion-input>
      <ion-icon 
        [name]="passwordVisible ? 'eye-off' : 'eye'" 
        slot="end" 
        (click)="togglePasswordVisibility()">
      </ion-icon>
    </ion-item>

    <!-- Confirmar Contraseña -->
    <ion-item>
      <ion-input 
        label="Confirmar Contraseña" 
        labelPlacement="floating" 
        [type]="confirmPasswordVisible ? 'text' : 'password'" 
        [(ngModel)]="confirmPassword" 
        (ngModelChange)="validatePasswords()">
      </ion-input>
      <ion-icon 
        [name]="confirmPasswordVisible ? 'eye-off' : 'eye'" 
        slot="end" 
        (click)="toggleConfirmPasswordVisibility()">
      </ion-icon>
    </ion-item>

    <ion-text color="danger" *ngIf="passwordMismatch" class="passwordError">
      Las contraseñas no coinciden
    </ion-text>

    <!-- Botón Crear Cuenta -->
    <ion-button 
      expand="block" 
      [disabled]="!isFormValid()" 
      (click)="crearCuenta()"
      class="crearCuenta">
      Crear cuenta
    </ion-button>
  </ion-list>
</ion-content>
