<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Uber</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon class="custom-icon" slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-register" [fullscreen]="true" keyboardScroll="false" style="padding-bottom: 100px;">
  <h3 class="ion-title-register">Formulario Viajes</h3>
  <h4 class="ion-info">Información:</h4>
  <ion-list>
    <ion-item class="input-item">
      <ion-input
        label="Precio por Pasajero (CLP)"
        labelPlacement="floating"
        [(ngModel)]="precioPasajero">
      </ion-input>
    </ion-item>

    <ion-item lines="none" style="display: flex; flex-direction: column; align-items: flex-start; width: 100%;">
      <ion-label position="stacked" style="text-align: left; font-size: 23px;">Cantidad de Pasajeros</ion-label>
      <div style="display: flex; align-items: center; justify-content: center; gap: 10px; margin-top: 10px; width: 100%;">
        <ion-button (click)="decrementarCantidad()" fill="outline" color="danger">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>

        <ion-input [(ngModel)]="cantidad" type="number" min="0" style="text-align: center; width: 60px;"></ion-input>

        <ion-button (click)="incrementarCantidad()" fill="outline" color="success">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="stacked">Origen (Ubicación Fija)</ion-label>
      <ion-input [(ngModel)]="origen" readonly></ion-input>
    </ion-item>    
  
    <ion-item class="input-item">
      <ion-label position="stacked">Destino</ion-label>
      <ion-input [(ngModel)]="destino" placeholder="Introduce tu destino" (ionInput)="onSearchChange($event)"></ion-input>
    </ion-item>

    <ion-list *ngIf="suggestions.length > 0" class="suggestions-list">
      <ion-item *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)" button detail>
        <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
        <ion-label>{{ suggestion.display_name }}</ion-label>
      </ion-item>
    </ion-list>

    <!-- Selector de Fecha -->
    <ion-item>
      <ion-label>Fecha del Viaje</ion-label>
      <ion-button expand="block" (click)="toggleCalendar()">Seleccionar Fecha</ion-button>
    </ion-item>
    
    <ion-datetime
      [(ngModel)]="fechaTemporal"
      display-format="DD/MM/YYYY"
      cancelText="Cancelar"
      doneText="Listo"
      *ngIf="mostrarCalendario"
      (ionCancel)="cancelCalendar()">
    </ion-datetime>
    
    <ion-button
      expand="block"
      (click)="applyDate()"
      *ngIf="mostrarCalendario"
      class="apply-button">
      Aplicar
    </ion-button>

    <ion-button expand="block" style="margin-bottom: 10px;" (click)="generarViaje()">
      Generar Viaje
    </ion-button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/conductor']" style="margin-top: -5px;">
            <ion-icon name="home-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/ajustes']" style="margin-top: -5px;">
            <ion-icon name="settings-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
