.ion-title-register {
    font-size: 2.5rem;
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

.ion-info {
margin-left: 20px;
}

ion-modal {
    --height: auto;

    align-items: end;
}

ion-picker {
    margin-bottom: var(--ion-safe-area-bottom);
}

.ubicacion-actual {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
  }

  ion-button {
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }

.suggestions-list {
    margin-top: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
  
  /* Estilo de los elementos de la lista */
  .suggestions-list ion-item {
    --background: #ffffff;
    --border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  /* Efecto hover para el elemento de la lista */
  .suggestions-list ion-item:hover {
    background-color: #f0f0f0;
  }
  
  /* Icono de ubicación al lado de cada sugerencia */
  .suggestions-list ion-icon {
    font-size: 1.2rem;
    color: #007bff;
  }
  
  /* Color del texto */
  .suggestions-list ion-label {
    color: #333;
    font-size: 0.95rem;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-datetime {
    margin-top: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .apply-button {
    margin-top: 10px;
    background-color: #3b82f6;
    color: white;
    border-radius: 5px;
  }
  
