<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Uber</ion-title>

    <ion-buttons slot="end">
      <!-- Llama a la función logout al hacer clic -->
      <ion-button (click)="logout()">
        <ion-icon class="custom-icon" slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-register" [fullscreen]="true" keyboardScroll="false" style="padding-bottom: 100px;">
  <h3 class="ion-title-register">Formulario Viajes</h3>
  <h4 class="ion-info">Información:</h4>
  <ion-list>
    
    <ion-item>
      <ion-input
      label="Nombre"
      labelPlacement="floating">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input
      label="Apellido"
      labelPlacement="floating">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
      label="RUT"
      labelPlacement="floating">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input
      label="Matricula (Patente)"
      labelPlacement="floating">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
      label="Modelo del Vehiculo"
      labelPlacement="floating">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
      label="Color del Vehiculo"
      labelPlacement="floating">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
      label="Telefono de Contacto"
      labelPlacement="floating">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Banco"
        labelPlacement="floating"
        [value]="selectedBanco"
        readonly>
      </ion-input>

      <ion-button id="open-banco-modal" fill="clear">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>

      <ion-modal #bancoModal trigger="open-banco-modal" (didDismiss)="onDidDismiss($event, 'banco')">
        <ng-template>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="bancoModal.dismiss(null, 'cancel')">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="bancoModal.dismiss(selectedBanco, 'confirm')">Listo</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-picker>
            <ion-picker-column [value]="selectedBanco" (ionChange)="onIonChange($event, 'banco')">
              <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
              <ion-picker-column-option value="Banco Estado">Banco Estado</ion-picker-column-option>
              <ion-picker-column-option value="Banco Santander">Banco Santander</ion-picker-column-option>
              <ion-picker-column-option value="Banco Edwards">Banco Chile/ Edwards-Citi</ion-picker-column-option>
              <ion-picker-column-option value="Banco Scotiabank">Banco Scotiabank</ion-picker-column-option>
              <ion-picker-column-option value="Banco Ripley">Banco Ripley</ion-picker-column-option>
              <ion-picker-column-option value="Mercado Pago">Mercado Pago</ion-picker-column-option>
            </ion-picker-column>
          </ion-picker>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-input
        label="Tipo de Cuenta"
        labelPlacement="floating"
        [value]="selectedTipoCuenta"
        readonly>
      </ion-input>

      <ion-button id="open-tipoCuenta-modal" fill="clear">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>

      <ion-modal #tipoCuentaModal trigger="open-tipoCuenta-modal" (didDismiss)="onDidDismiss($event, 'tipoCuenta')">
        <ng-template>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="tipoCuentaModal.dismiss(null, 'cancel')">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="tipoCuentaModal.dismiss(selectedTipoCuenta, 'confirm')">Listo</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-picker>
            <ion-picker-column [value]="selectedTipoCuenta" (ionChange)="onIonChange($event, 'tipoCuenta')">
              <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
              <ion-picker-column-option value="Corriente">Corriente</ion-picker-column-option>
              <ion-picker-column-option value="Vista">Vista</ion-picker-column-option>
              <ion-picker-column-option value="Ahorro">Ahorro</ion-picker-column-option>
              <ion-picker-column-option value="Chequera Electronica">Chequera Electronica</ion-picker-column-option>
            </ion-picker-column>
          </ion-picker>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-input
      Label="Numero de Cuenta"
      labelPlacement="floating">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
      Label="Precio por Pasajero (CLP)"
      labelPlacement="floating">
      </ion-input>
    </ion-item>

    <ion-item lines="none" style="display: flex; flex-direction: column; align-items: flex-start; width: 100%;">
      <ion-label position="stacked" style="text-align: left; font-size: 23px;">Cantidad de Pasajeros</ion-label>
      <div style="display: flex; align-items: center; justify-content: center; gap: 10px; margin-top: 10px; width: 100%;">
        <!-- Botón de disminución -->
        <ion-button (click)="decrementarCantidad()" fill="outline" color="danger">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
    
        <!-- Campo de entrada de cantidad -->
        <ion-input [(ngModel)]="cantidad" type="number" min="0" style="text-align: center; width: 60px;"></ion-input>
    
        <!-- Botón de aumento -->
        <ion-button (click)="incrementarCantidad()" fill="outline" color="success">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-button expand="block" style="margin-bottom: 10px;">
      Generar Viaje
    </ion-button>
    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <!-- Botón Home -->
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" color="light" [routerLink]="['/conductor']" style="margin-top: -5px;">
            <ion-icon name="home-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Botón Map -->
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" color="light" [routerLink]="['/...']" style="margin-top: -5px;">
            <ion-icon name="map-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Botón Settings -->
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" color="light" [routerLink]="['/...']" style="margin-top: -5px;">
            <ion-icon name="settings-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
