.ion-title-register {
    font-size: 2.5rem;
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

.ion-info {
margin-left: 20px;
}

ion-modal {
    --height: auto;

    align-items: end;
}

ion-picker {
    margin-bottom: var(--ion-safe-area-bottom);
}