<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Uber</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon class="custom-icon" slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button [routerLink]="['/...']">
          <ion-card-content>
            <img src="assets/img/viaje.png" alt="Viaje" />
            <p>Viaje</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button [routerLink]="['/...']">
          <ion-card-content>
            <img src="assets/img/teens.png" alt="Teens" />
            <p>Teens</p>
            <ion-badge color="primary" class="new-badge">Nuevo</ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="4">
        <ion-card button [routerLink]="['/...']">
          <ion-card-content>
            <img src="assets/img/viajegrupal.png" alt="Viaje grupal" />
            <p>Grupal</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card button [routerLink]="['/...']">
          <ion-card-content>
            <img src="assets/img/transito.png" alt="Tránsito" />
            <p>Tránsito</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card button [routerLink]="['/reserva']">
          <ion-card-content>
            <img src="assets/img/reserve.png" alt="Reserve" />
            <p>Reserve</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <section class="img-section">
    <img src="assets/img/uber-definit.png" alt="Uber3">
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/elegusuario']" style="margin-top: -5px;">
            <ion-icon name="home-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/mapa']" style="margin-top: -5px;">
            <ion-icon name="map-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/ajustes']" style="margin-top: -5px;">
            <ion-icon name="settings-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
