<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Uber</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon class="custom-icon" slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">¡Bienvenido!, {{ username }}!</h1>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <img src="assets/img/inicio.png" alt="Uber1">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/segundo.png" alt="Uber2">
    </ion-slide>
  </ion-slides>

  <section class="img-section">
    <img src="assets/img/uber-definit.png" alt="Uber3">
  </section>
  


</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-icon name="home-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-icon name="map-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-icon name="settings-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
