<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">Lista de Pasajeros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" class="info-box">
    <ion-icon name="information-circle-outline" slot="start" color="primary"></ion-icon>
    <ion-label>
      Aquí podrás ver el historial de viajes realizados por ti y otros usuarios, 
      con el fin de garantizar la seguridad de los estudiantes y conductores.
    </ion-label>
  </ion-item>
  <!-- Si no hay pasajeros, muestra un mensaje -->
  <ion-card *ngIf="mostrarMensaje">
    <ion-card-header>
      <ion-card-title>No hay pasajeros disponibles.</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Si hay pasajeros, muestra la lista -->
  <ion-card *ngIf="!mostrarMensaje">
    <ion-card-header>
      <ion-card-title>Información del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Conductor:</strong> {{ viajeConfirmado?.conductor?.nombre || 'No disponible' }}</p>
      <p><strong>Origen:</strong> {{ viajeConfirmado?.origen || 'No disponible' }}</p>
      <p><strong>Destino:</strong> {{ viajeConfirmado?.destino || 'No disponible' }}</p>
      <p><strong>Acompañantes:</strong> {{ viajeConfirmado?.cantidadPasajeros || 'No disponible' }}</p>
      <p><strong>Fecha:</strong> {{ viajeConfirmado?.fecha | date: 'long' }}</p>
      <p><strong>Precio pagado:</strong> {{ viajeConfirmado?.total || 'No disponible' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/index']" style="margin-top: -5px;">
            <ion-icon name="home-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col class="ion-text-center" size="auto">
          <ion-button fill="clear" [routerLink]="['/ajustes']" style="margin-top: -5px;">
            <ion-icon name="settings-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>