


.info-box {
    margin: 20px;
    padding: 15px;
    background-color: #f8f9fa; /* Fondo claro */
    border: 1px solid #d1d1d1; /* Borde gris */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    
    ion-icon {
        margin-right: 10px;
        font-size: 1.5em;
    }
    
    ion-label {
        font-size: 0.95em;
    }
}