<ion-header [translucent]="true" class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>
      <h1 class="title">Uber</h1>
      <h6>Lleva de forma fácil y Rápida</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-header class="ion-no-border ion-text-center">
      <ion-toolbar>
        <ion-title class="mensaje" size="large"> {{ message }} </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list>
      <ion-item>
        <ion-input 
          class="username-input"
          label="Nombre" 
          labelPlacement="floating"
          [(ngModel)]="username"
          (ionFocus)="clearInput()">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" 
          labelPlacement="floating" 
          type="password"
          [(ngModel)]="password"
          (ionFocus)="clearPassword()">
        </ion-input>
      </ion-item>
    </ion-list>
    <br><br>
    <ion-button expand="block" (click)="validateLogin()">
      Ingresar
    </ion-button>

    <div class="link-buttons">
      <a [routerLink]="['/register']">Registrarse</a> /
      <a [routerLink]="['/restcontra']">Olvidaste tu contraseña</a>
    </div>
    
  </div>
</ion-content>
