#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;  
  padding: 10px;
}

.title {
  background-color: #2d2c2c;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.mensaje {
  font-size: 1.5rem;  
  color: #2d2c2c;

}

ion-list {
  width: 100%;
  max-width: 400px;
}

ion-button {
  margin: 5px 0;
  width: 60%;
  padding: 5px;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
}

ion-input {
  width: 100%;
}

ion-header {
  padding: 10px;  
}

.username-input {
  --color: gray;
}

ion-input[type="password"] {
  --color: gray;
}

.link-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  a {
    color: #003366; // Azul oscuro predeterminado
    text-decoration: none;
    margin: 0 0.5rem;
    font-weight: bold;
    transition: color 0.3s ease; // Añade una transición suave para el efecto hover

    &:hover {
      color: #3399FF !important; // Celeste claro al pasar el mouse
      text-decoration: underline;
    }

    &:active {
      color: #1a75ff !important; // Un tono más oscuro al hacer clic
    }
  }
}



